<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <!-- Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Bootstrap Bundle JS-->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</head>
<body>

<div th:replace="header :: content"></div>




<div class="container-sm">


  <div class="row align-items-start">
    <div class="col">
      <form th:method="GET" th:action="@{/accounts(id=${idAcc.id})}">
        <div class="mb-3">
        <select th:field="*{idAcc.id}" class="form-select">
          <option th:each="i:${#numbers.sequence(0, len)}" th:value="${i}" th:text="${i}">
          </option>
        </select>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Choose account</button>
        </div>
      </form>
    </div>
    <div class="col">
      <table class="table table-striped">
        <tr>
          <td>Currency</td>
          <td>Total</td>
        </tr>

        <tr th:each="money: ${moneyList}">
          <td th:text="${money.currency}" />
          <td th:text="${money.units}" />
        </tr>
      </table>

      <table th:if="${positionsNotNull}" class="table table-striped" >
        <tr>
          <td>Ticker</td>
          <td>Price</td>
          <td>Lots</td>
          <td>Sell</td>
        </tr>

        <tr th:each="position: ${positionsList}">
          <td th:text="${position.Ticker}" />
          <td th:text="${position.Price}" />
          <td th:text="${position.Lots}" />
          <td>
            <form th:method="POST" th:action="@{/accounts/sell}">
              <input class="form-control" name="Ticker" id="Ticker" aria-describedby="stockHelp" th:value="*{position.Ticker}" type="hidden">
              <input class="form-control" name="idAcc" id="idAccSell" aria-describedby="stockHelp" th:value="*{idAcc.id}" type="hidden">
              <div class="mb-3">
                <input class="form-control" name="countToSell" id="countToSell" aria-describedby="stockHelp" th:value="*{idAcc.id}" type="number" min="1" step="1" th:max="${position.Lots}">
              </div>
              <button type="submit" class="btn btn-danger">Sell</button>
            </form>
          </td>
        </tr>
      </table>

      <p th:if="${ordersToBuyNotNull}">Orders to buy:</p>
      <table th:if="${ordersToBuyNotNull}" class="table table-striped">
        <tr>
          <td>Ticker</td>
          <td>Price</td>
          <td>Lots</td>
          <td>Cancel order</td>
        </tr>

        <tr th:each="order : ${ordersToBuy}">
          <td th:text="${order.Ticker}" />
          <td th:text="${order.Price}" />
          <td th:text="${order.Lots}" />
          <td>
            <form th:method="POST" th:action="@{/accounts/cancel_order}">
              <input class="form-control" name="orderId" id="orderId" aria-describedby="stockHelp" th:value="*{order.orderId}" type="hidden">
              <input class="form-control" name="idAcc" id="idAcc" aria-describedby="stockHelp" th:value="*{idAcc.id}" type="hidden">
              <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
          </td>
        </tr>


      </table>

      <p th:if="${ordersToSellNotNull}">Orders to sell:</p>
      <table th:if="${ordersToSellNotNull}" class="table table-striped">
        <tr>
          <td>Ticker</td>
          <td>Price</td>
          <td>Lots</td>
          <td>Cancel order</td>
        </tr>

        <tr th:each="order : ${ordersToSell}">
          <td th:text="${order.Ticker}" />
          <td th:text="${order.Price}" />
          <td th:text="${order.Lots}" />
          <td>
            <form th:method="POST" th:action="@{/accounts/cancel_order}">
              <input class="form-control" name="orderId" id="orderSellId" aria-describedby="stockHelp" th:value="*{order.orderId}" type="hidden">
              <input class="form-control" name="idAcc" id="SellIdAcc" aria-describedby="stockHelp" th:value="*{idAcc.id}" type="hidden">
              <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
          </td>
        </tr>


      </table>
    </div>
    <div class="col">
      <form th:method="post" th:action="@{/accounts}">
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Create account</button>
        </div>
      </form>
    </div>
  </div>


</div>

</body>
</html>